@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');
body{
    background: #f7f9fa;
    font-family: 'Chivo', sans-serif;
}

h1{
    font-weight: lighter;
    font-family: 'Taviraj', serif;
}
h2,h3,h4,h5,h6{
    font-family: 'Taviraj', serif;
}
.pad-height{
    margin: 20px 0px;
}
.primary-color{
    color: #3c40c6;
}
.navbar-brand span{
    font-weight: bolder;
}

.bg-light {
    background-color: #ffffff !important;
    box-shadow: 0 -1px 5px 2px rgb(0 0 0 / 20%);
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #6d6d6d;
    text-decoration: none;
}
.navbar-nav li{
    margin: 0px 10px;
}

.dark-banner{
    padding: 15px 0px;
    background: black;
    color: white;
    text-align: center;
}
.intro-showoff{
    font-size: 70px;
}